@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
    font-family: 'Circular Std', sans-serif;
    color: #414042;
}

.to-pdf {
    display: none;
}

.screen-pdf .to-pdf {
    display: inherit;
}

.screen-pdf .not-to-pdf {
    display: none;
}
